version: '2'

services:
  calltool:
    build: .
    environment:
      FLASK_ENV: development # or development-expose or production
      OPENSTATES_API_KEY:
      TWILIO_DEV_ACCOUNT_SID:
      TWILIO_ACCOUNT_SID:
      TWILIO_DEV_AUTH_TOKEN:
      TWILIO_AUTH_TOKEN:
      SECRET_KEY:
      ADMIN_API_KEY:
      CALLPOWER_CONFIG: call_server.config:DevelopmentConfig # or call_server.config:ProductionConfig
      APP_HOST: 0.0.0.0
      SENTRY_DSN: # optional, for logging errors to Sentry
    ports:
      - "5000:5000"
