calltool:
  build: .    
  environment:
    SUNLIGHTLABS_KEY:
    TWILIO_DEV_ACCOUNT_SID:
    TWILIO_ACCOUNT_SID:
    TWILIO_DEV_AUTH_TOKEN:
    TWILIO_AUTH_TOKEN:
    APP_HOST: 0.0.0.0
  ports:
    - "5000:5000"
