{% set page_title = "Manage Users" %}
{% extends "layouts/base_admin.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Manage Users') }}</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Email') }}</th>
                <th>{{ _('Phone') }}</th>
                <th>{{ _('Role') }}</th>
                <th>{{ _('Last Accessed') }}</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Edit') }}</th>
            </tr>
        </thead>
        {% for u in users %}
        <tr>
            <td>{{ u.name }} </td>
            <td>{{ u.email }}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.role }}</td>
            <td>{{ u.last_accessed }}</td>
            <td>{{ u.status }}</td>
            <td><a href="{{ url_for('user.profile', user_id=u.id) }}">{{ _('Profile') }}</a> /
                <a href="{{ url_for('user.role', user_id=u.id) }}">{{ _('Role') }}</a></td>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
