{% from "macros/_form.html" import render_form %}

{% set page_title = _("Dashboard") %}

{% extends "layouts/base_admin.html" %}

{% block body %}
<h1>Dashboard</h1>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Campaigns</h3></div>
    <table class="table" id="campaigns-list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Targets</th>
                <th>Calls</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for c in campaigns %}
        <tr>
            <td>{{c.name}}</td>
            <td>{{c.campaign_type_display()}}</td>
            <td>{% if c.target_set %}{{c.targets_display()|safe}}{%else%}{{c.campaign_subtype_display() }}{%endif%}</td>
            <td>{{calls[c.id] }}</td>
            <td><span class="glyphicon {% if c.status == 'live' %}glyphicon-play{%elif c.status=='paused'%}glyphicon-pause{%else%}glyphicon-stop{%endif%}"></td>
        </tr>
        {%endfor%}
    </table>
    <div class="panel-body">
        <a class="btn btn-primary" href="{{ url_for('campaign.form') }}">New Campaign</a>
    </div>
  </div>
</div>

<div class="stats col-md-4">
    <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Usage Statistics</h3></div>
    <div class="panel-body">

    </div>
  </div>
</div>
{% endblock %}
