{% from "macros/_form.html" import render_form %}

{% set page_title = _("System") %}

{% extends "layouts/base_admin.html" %}

{% block body %}
<h1>System Settings</h1>

<div class="container" id="system">
    <h2>{{ _('Phone Numbers') }}</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Number') }}</th>
                <th>{{ _('Campaign') }}</th>
                <th>{{ _('Dial In') }}</th>
            </tr>
        </thead>
        {% for p in twilio_numbers %}
        <tr>
            <td>{{ p.number }} </td>
            <td>{{ p.campaign }}</td>
            <td>{{ p.campaign.allow_call_in }}</td>
        </tr>
        {% endfor %}
    </table>

    <form class="form-inline" method="POST" action="{{url_for('admin.twilio_resync')}}">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}">
        <div class="form-group"><button type="submit" class="btn btn-warning">Resync</button></div>
        <a class="btn btn-success" href="https://www.twilio.com/user/account/phone-numbers/search" target="_blank">Buy Another</a>
    </form>
    


    <h2>Default Messages</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Message') }}</th>
            </tr>
        <tr></tr>
    </table>

    <h2>Twilio Account</h2>
    <div class="row">
        <div class="col-sm-6">
            <label class="control-label">Account SID:</label>
            <input type="text" class="form-control" value="{{twilio_auth.0}}" readonly />
        </div>

        <div class="col-sm-6">
            <label class="control-label">Private Key:</label>
            <div class="input-group">
                <input type="password" class="form-control" value="{{twilio_auth.1}}" readonly />
                <span class="input-group-btn">
                    <button class="btn btn-default js-reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
              </span>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    /* TODO, move this to the map app js */
    $(function(){
        $('button.js-reveal').on('click', function(event) {
            var input = $(event.target).parent().siblings('input');
            if (input.prop('type') === 'password') {
                input.prop('type','text');
            } else {
                input.prop('type','password');
            }
        });
    });
</script>
{% endblock %}
