{% from "macros/_form.html" import render_field, render_label %}

{% set button_class = 'btn btn-default col-xs-4' %}

{% macro render_audio(field, class_={}) %}
<div class="form-group {{class_.get('group', '')}} {{field.id}} {% if field.errors %}error{% endif %}">
    {{ render_label(field, class_.get('label', '')) }}
    <div class="input-group col-sm-10">
        <div class="btn-group audio col-sm-6">
            <button class="{{button_class}} record">
                <span class="glyphicon glyphicon-record"></span>
                <span class="text">Record</span>
            </button>
            <button class="{{button_class}} play">
                <span class="glyphicon glyphicon-play"></span>
                <span class="text">Play</span>
            </button>
            <button class="{{button_class}} version">
                <span class="glyphicon glyphicon-repeat"></span>
                <span class="text">Version</span>
            </button>
        </div>

        <div class="description">
            <span class="glyphicon glyphicon-info-sign info"></span>
            <span class="help-inline">{{ descriptions.get(field.id)|safe }}</span>
            <span class="example-text hidden">{{ example_text.get(field.id)|safe }}</span>
        </div>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
        <span class="help-block"></span>
    </div>

    <div class="input-group col-sm-offset-6 col-sm-1">
        <button class="btn btn-link">read text</button>
    </div>
</div>
{% endmacro %}