{% macro render_label(field, class_='') %}
<label class="control-label {{class_}} {%if field.flags.required%}required{%endif%}"
        for="{{ field.id }}">
        {{ field.label.text }}
    </label>
{% endmacro %}

{% macro render_checkbox(field, class_={}) %}
{# for checkbox, label comes before field #}
<div class="form-group {{class_.get('group', '')}} {% if field.errors %}error{% endif %}">
    <div class="controls {{class_.get('control', '')}}">
        {{ field(class_ = class_.get('field', '')) }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error|e }}</span>
            {%- endfor %}
        {%- endif %}
    {{ render_label(field, "inline") }}
    </div>
</div>
{% endmacro%}

{% macro render_radio(field, class_={}) %}
<div class="form-group {{class_.get('group', '')}} {% if field.errors %}error{% endif %}">
    {{ render_label(field, class_.get('label', '')) }}
    <div class="controls {{class_.get('control', '')}}">
        {% for subfield in field -%}
        <label for="{{ subfield.id }}" class="radio-inline">
            {{ subfield(class_ = class_.get('field', '')) }} {{ subfield.label.text }}
        </label>
        {%- endfor %}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_input(field, class_={}) %}
<div class="form-group {{class_.get('group', '')}} {% if field.errors %}error{% endif %}">
    {{ render_label(field, class_.get('label', '')) }}
    <div class="controls {{class_.get('control', '')}}">
        {{ field(class_ = class_.get('field', '')) }}
         <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_action(field, class_={}) %}
<div class="form-group {{class_.get('group', '')}}">
    <div class="form-actions">
        {{ field(class_="btn btn-primary "+class_.get('field', '')) }}
    </div>
</div>
{% endmacro %}

{% macro render_field(field, class_={}) %}
    {% if field.type == "RadioField" %}
        {{ render_radio(field, class_) }}
    {% elif field.type == "BooleanField" %}
        {{ render_checkbox(field, class_) }}
    {% elif field.type == "SubmitField" %}
        {{ render_action(field, class_) }}
    {% else %}
        {{ render_input(field, class_) }}
    {% endif %}
{% endmacro %}


{% macro render_form(url, form, horizontal=False, legend=None, confirm_msg=None) %}
<form class="{% if horizontal %}form-horizontal{% endif %}" method="POST" action="{{ url }}"
    {% if confirm_msg %}onsubmit='return confirm("{{ confirm_msg }}");' {% endif %} 
    {% if form.multipart %}enctype="multipart/form-data"{% endif %} >
    {{ form.hidden_tag() }}
    <fieldset>
        {% if legend %}
        <legend>{{ legend|safe }}</legend>
        {% endif %}
        {% set focus = True %}
        {% for field in form %}
            {{ render_field(form, field) }}
        {% endfor %}
    </fieldset>
</form>
{% endmacro %}
