.control-label.required:after { 
   content:"*";
   color:red;
}

.form-horizontal div.controls {
    display: inline-block;
}

/*.form-horizontal .control-label {
    text-align: left;
}*/

label.inline, input.inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    font-weight:normal;
}

select.block {
    display: block;
}

input.form-control[type="radio"] {
    height: auto;
}

.btn .glyphicon {
    pointer-events: none;
}

.btn.radio-inline {
    padding-top: 0; /* reset bootstrap .radio-inline */
    margin-top: 7px; 
}

.search-results .btn.close {
    font-size: 14px;
    padding-top: 0;
}

fieldset.border {
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

fieldset.border legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}