.btn-group.audio button .text {
    display: block;
}

.microphone.modal .meter canvas {
    display: block;
    width: 100%;
    margin: 1em auto;
    padding: 0;
    border: 1px solid #ddd;
    background: #eee;
}

.microphone.modal audio {
    vertical-align: middle;
}

@-webkit-keyframes recording {
    0% {color: black;}
    100% {color: red;}
}

.glyphicon-record.active {
	-webkit-animation: recording 0.75s ease-in-out alternate infinite;
}