.btn-group.audio button .text {
    display: block;
}

.microphone.modal .meter canvas {
    display: block;
    width: 100%;
    margin: 1em auto;
    padding: 0;
    border: 1px solid #ddd;
    background: #eee;
}

.microphone.modal audio {
    vertical-align: middle;
}

@-webkit-keyframes recording {
    0% {color: black;}
    100% {color: red;}
}

.glyphicon-record.active {
	-webkit-animation: recording 0.75s ease-in-out alternate infinite;
}

/* make btn-file look all bootstrappy
* from http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}