.btn-group.audio button .text {
    display: block;
}

.microphone.modal .meter canvas {
    display: block;
    width: 100%;
    margin: 1em auto;
    padding: 0;
    border: 1px solid #ddd;
    background: #eee;
}