{% from "macros/_form.html" import render_field, render_label, render_input, render_button with context %}

{% set label_width = 'col-sm-2' %}
{% set control_width = 'col-sm-6' %}
{% macro render_field_default(field, offset='', control_class=control_width, group='') %}
    {%if offset%}{% set control_class = control_width+' '+offset %}{%endif%}
    {{ render_field(field, class_={'label': label_width,
                                   'control': control_class,
                                   'group': group}
                    ) }}
{% endmacro %}


{% set page_title = _("Campaign") %}

{% extends "layouts/base_admin.html" %}

{% block body %}
<h3>{% if edit %}Edit{%else%}New{%endif%} Campaign</h3>

<form class="form-horizontal" id="campaign" method="POST" action="" >
    {{ form.hidden_tag() }}
    <fieldset class="border">
        <legend>Type</legend>

        {{render_field_default(form.name) }}

        {# campaign type including nested #}
        {% with %}
            {% set field = form.campaign_type %}
            {% set state = form.campaign_state %}
            {% set nested_field = form.campaign_subtype %}

            <div class="form-group{% if field.errors %} error{% endif %}">
                {{ render_label(field, label_width) }}

                <div class="controls {{control_width}}">
                {{ field(class_='') }}
                {{ state(class_='inline hide-initial') }}
                {{ nested_field(class_='nested inline', **{'data-nested-choices': CAMPAIGN_NESTED_CHOICES|json} ) }}
                <div class="description">
                    <span class="glyphicon glyphicon-info-sign info small"></span>
                    <span class="help-inline">{{ descriptions.get(field.id)|safe }}</span>
                </div>
                {% if field.errors -%}
                    {% for error in field.errors -%}
                    <span class="help-block error">{{ error|e }}</span>
                    {%- endfor %}
                {%- endif %}
                
                {% if nested_field.errors -%}
                    {% for error in nested_field.errors -%}
                    <span class="help-block error">{{ error|e }}</span>
                    {%- endfor %}
                {%- endif %}
                </div>
            </div>
        {% endwith %}
    </fieldset>

    <fieldset class="border">
        <legend>Targets</legend>
        {{render_field_default(form.segment_by) }}

        {{render_field_default(form.segment_location) }}

        <div class="form-group hide-initial" id="set-targets">
            {{render_label(form.target_set, label_width)}}
            <div class="controls {{control_width}}">
                <div class="control-group">
                    <div class="input-group col-sm-10 left" id="target-search">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                        <div class="search-results open">
                            <input type="text" class="form-control" name="target-search" placeholder="search"/>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default search" type="button">Go</button>
                        </span>
                    </div>

                    <div class="input-group col-sm-2 right">
                        <button class="btn btn-primary add" type="button">Add</button>
                        <div class="description">
                            <span class="glyphicon glyphicon-info-sign info small"></span>
                            <span class="help-inline">{{ descriptions.get('target_set')|safe }}</span>
                        </div>
                    </div>
                </div>

                <!-- target_set entries stored as hidden inputs named target_set-N-FIELD -->
                <div id="target-set" class="hidden">
                    {% if form.target_set.data|length %}
                    <input type="hidden" name="target_set_length" value="{{form.target_set|length}}" />
                    {% endif %}

                    {% for error in form.target_set.errors -%}
                    {# load errors here, for client-side display #}
                    <input type="hidden" name="{{error.target}}-error" value="{{ error.message }}" />
                    {%- endfor %}

                    {% for t in form.target_set.data %}
                    <input type="hidden" name="target_set-{{loop.index0}}-order" value="{{loop.index0}}" />
                    <input type="hidden" name="target_set-{{loop.index0}}-title" value="{{t.title}}" />
                    <input type="hidden" name="target_set-{{loop.index0}}-name" value="{{t.name}}" />
                    <input type="hidden" name="target_set-{{loop.index0}}-number" value="{{t.number}}" />
                    {% endfor %}
                </div>

                <ol class="target-list list-group sortable hide-initial"></ol>
                <span class="help-block"></span>
            </div>
        </div>

        {{render_field_default(form.target_ordering) }}

        {{render_field_default(form.call_limit, offset='col-sm-offset-2') }}

        {% with %}
        {% if form.call_maximum.data > 0 %}
            {% set call_max_display = '' %}
        {% else %}
            {% set call_max_display = 'hide-initial' %}
        {% endif %}
        {{render_field_default(form.call_maximum, group=call_max_display) }}
        {% endwith %}
    </fieldset>

    <fieldset class="border">
        <legend>Phone Numbers</legend>
        {{render_field_default(form.phone_number_set) }}
        {{render_field_default(form.allow_call_in, offset='col-sm-offset-2') }}
    </fieldset>

    <div class="form-group container">
        <div class="form-actions">
            {% if edit %}
                <a class="btn btn-warning" href="status">Edit Status</a>
            {%endif%}
            <div class="pull-right">
                {{render_button(form.submit, {'field':'btn-success', 'icon':'arrow-right'}) }}
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}

<script type="text/template" id="search-results-dropdown-tmpl">
    <ul class="dropdown-menu open">
      <li role="presentation" class="dropdown-header">
        Search Results <span class="close btn btn-xs">&times;</span>
      </li>
    </ul>
</script>

<script type="text/template" id="search-results-item-tmpl">
    <li class="result">
        <a data-object='{ "title":"<%= data.title %>",
                          "name":"<%= data.first_name %> <%= data.last_name %>",
                          "number":"<%= data.phone %>"
                        }'>
            <span class="text"><%= data.title %> <%= data.first_name %> <%= data.last_name %> (<%= data.party %>-<%= data.state %>)</span>
            <span class="phone"><%= data.phone %></span>
        </a>
    </li>
</script>

<script type="text/template" id="target-item-tmpl">
    <span data-field="title" contenteditable placeholder="Title"><%= data.title %></span>
    <span data-field="name" contenteditable placeholder="Name"><%= data.name %></span>
    <span data-field="number" contenteditable placeholder="Phone"><%= data.number %></span>

    <div class="pull-right">
        <span class="glyphicon glyphicon-move handle btn btn-xs"></span>
        <span class="glyphicon glyphicon-remove remove btn btn-xs btn-danger"></span>
    </div>
</script>

{% endblock %}
