{% from "macros/_form.html" import render_field, render_label, render_input, render_button %}

{% set label_width = 'col-sm-2' %}
{% set control_width = 'col-sm-6' %}
{% macro render_field_default(field, offset='', control_class=control_width, group='') %}
    {%if offset%}{% set control_class = control_width+' '+offset %}{%endif%}
    {{ render_field(field, class_={'label': label_width,
                                   'control': control_class,
                                   'group': group}
                    ) }}
{% endmacro %}


{% set page_title = _("Campaign") %}

{% extends "layouts/base_admin.html" %}

{% block body %}
<h3>{% if edit %}Edit{%else%}New{%endif%} Campaign</h3>

<form class="form-horizontal" id="campaign" method="POST" action="" >
    {{ form.hidden_tag() }}
    <fieldset class="border">
        <legend>Type</legend>

        {{render_field_default(form.name) }}

        {# campaign type including nested #}
        {% with %}
            {% set field = form.campaign_type %}
            {% set state = form.campaign_state %}
            {% set nested_field = form.campaign_subtype %}

            <div class="form-group{% if field.errors %} error{% endif %}">
                {{ render_label(field, label_width) }}

                <div class="controls {{control_width}}">
                {{ field(class_='') }}
                {{ state(class_='inline hidden') }}
                {{ nested_field(class_='nested inline', **{'data-nested-choices': CAMPAIGN_NESTED_CHOICES|json} ) }}
                <span class="help-inline">{{ field.description }}</span>
                {% if field.errors -%}
                    {% for error in field.errors -%}
                    <span class="help-block error">{{ error|e }}</span>
                    {%- endfor %}
                {%- endif %}
                
                {% if nested_field.errors -%}
                    {% for error in nested_field.errors -%}
                    <span class="help-block error">{{ error|e }}</span>
                    {%- endfor %}
                {%- endif %}
                </div>
            </div>
        {% endwith %}
    </fieldset>

    <fieldset class="border">
        <legend>Targets</legend>
        {{render_field_default(form.target_by) }}

        <div class="form-group set-target hidden">
            {{render_label(form.target_set, label_width)}}
            <div class="controls {{control_width}}">
                <div class="input-group" id="target_search">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                    <div class="search-results open">
                        <input type="text" class="form-control" name="target_search" placeholder="search"/>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go</button>
                    </span>
                </div>

                {% with %}
                {% set field=form.target_set %}
                {{ field(class_="form-control voffset-10") }}
                <span class="help-inline">{{ field.description }}</span>
                    {% if field.errors -%}
                        {% for error in field.errors -%}
                        <span class="help-block error">{{ error }}</span>
                        {%- endfor %}
                    {%- endif %}
                {% endwith %}
            </div>
        </div>

        {{render_field_default(form.target_ordering) }}

        {{render_field_default(form.call_limit, offset='col-sm-offset-2') }}

        {% with %}
        {% if form.call_maximum.data > 0 %}
            {% set call_max_display = '' %}
        {% else %}
            {% set call_max_display = 'hidden' %}
        {% endif %}
        {{render_field_default(form.call_maximum, group=call_max_display) }}
        {% endwith %}
    </fieldset>

    <fieldset class="border">
        <legend>Phone Numbers</legend>
        {{render_field_default(form.phone_number_set) }}
        {{render_field_default(form.allow_call_in, offset='col-sm-offset-2') }}
    </fieldset>

    <div class="form-group">
        <div class="form-actions">
            {% if edit %}
                <a class="btn btn-warning" href="status">Edit Status</a>
            {%endif%}
            <div class="pull-right">
                {{render_button(form.submit, {'field':'btn-success', 'icon':'arrow-right'}) }}
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}

<script type="text/template" name="search-results-dropdown">
    <ul class="dropdown-menu open">
      <li role="presentation" class="dropdown-header">
        Search Results <span class="close btn btn-xs">&times;</span>
      </li>
    </ul>
</script>

<script type="text/template" name="search-results-item">
    <li class="result">
        <a data-object='{"name":"<%= data.first_name %> <%= data.last_name %>", "number":"<%= data.phone %>"}'>
            <span class="text"><%= data.title %> <%= data.first_name %> <%= data.last_name %> (<%= data.party %>-<%= data.state %>)</span>
            <span class="phone"><%= data.phone %></span>
        </a>
    </li>
</script>

{% endblock %}
