{% set page_title = "Manage Campaigns" %}
{% extends "layouts/base_admin.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Manage Campaigns') }}</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('campaign.form') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table class="table" id="campaigns-list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Targets</th>
                <th>Calls</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        {% for c in campaigns %}
        <tr>
            <td>{{c.name}}</td>
            <td>{{c.campaign_type_display()}}</td>
            <td>{{c.targets_display()|safe}}</td>
            <td>{{c.calls}}</td>
            <td><span class="glyphicon {% if c.status == 'live' %}glyphicon-play{%elif c.status=='paused'%}glyphicon-pause{%else%}glyphicon-stop{%endif%}"></td>
            <td><a href="{{url_for('campaign.form', campaign_id=c.id)}}">edit</a> /
                <a href="{{url_for('campaign.copy', campaign_id=c.id)}}">copy</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}
