/* 
 * overlay.css v1.0.0
 * Copyright 2014 Joah Gerstenberg (www.joahg.com)
 */

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.85);
  cursor: pointer;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.overlay .modal {
  cursor: auto;
  position: absolute;
  z-index: 101;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 50%;
  max-height: 75%;
  overflow-y: scroll;
  padding: 20px;
  background-color: rgb(255,255,255);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.overlay.shown {
  opacity: 1;
}