<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title>{%block title%}{%endblock%}</title>
  <!-- Chrome Frame for browsers that support it -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/ico" href="static/images/favicon.png">

  {% assets "vendor_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets "bootstrap_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {%block styles%}{%endblock%}


  {%block head_scripts%}{%endblock%}
 </head>

 <body>
  {%block navbar%}
  <div class="container">
    <nav class="navbar navbar-default navbar-static-top">
        {% if current_user.is_authenticated() %}
        <ul class="nav navbar-nav">
          <li><a href="/admin">Dashboard</a></li>
          <li><a href="/admin/campaigns">Campaigns</a></li>
          <li><a href="/admin/statistics">Statistics</a></li>
          <li><a href="/admin/system">System</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><span><a class="btn btn-success" href="{{ url_for('user.logout') }}"><strong>{{ _('Sign out') }}</strong></a></span></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav pull-right">
          <li><span><a class="btn btn-success" href="{{ url_for('user.signup') }}"><strong>{{ _('Sign up') }}</strong></a></span></li>
          <li><span><a class="btn btn-default" href="{{ url_for('user.login') }}">{{ _('Sign in') }}</a></span></li>
        </ul>
        {% endif %}
        </ul>
      </nav>
  {%endblock%}

    {% block flash_message %}
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="container">
          <div id='flash_message_container'>
            {% for category, msg in messages %}
              <div class="alert alert-{%if category == 'message'%}info{%else%}{{ category }}{%endif%}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                  {{ msg }}
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endwith %}
    {% endblock %}

    <div class="container">
    {%block body%}{%endblock%}
    </div>
 </body>
</html>