{% extends "layouts/base.html" %}

{%block navbar%}
<div class="container-fluid">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Call Power Admin</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% if current_user.is_authenticated() %}
        <ul class="nav navbar-nav">
          <li><a href="/admin">Dashboard</a></li>
          <li><a href="/admin/campaigns">Campaigns</a></li>
          <li><a href="/admin/statistics">Statistics</a></li>
          <li><a href="/admin/system">System</a></li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% if current_user.is_authenticated() %}
              <li><a href="{{ url_for('user.profile') }}">{{ _('Profile') }}</a></li>
              <li><a href="{{ url_for('user.change_password') }}">{{ _('Change Password') }}</a></li>
              <li><a href="{{ url_for('user.logout') }}">{{ _('Log ou t') }}</a></li>
              {% else %}
              <li><a href="{{ url_for('user.login') }}">{{ _('Log in') }}</a></li>
              <li><a href="{{ url_for('user.signup') }}">{{ _('Sign up') }}</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
{%endblock%}