<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title>{%block title%}{%endblock%}</title>
  <!-- Chrome Frame for browsers that support it -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/ico" href="static/images/favicon.png">

  {% assets "vendor_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% assets "bootstrap_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {%block styles%}{%endblock%}


  {%block head_scripts%}{%endblock%}
 </head>

 <body>
  {%block navbar%}
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Call Power</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('admin.admin_dash') }}">{{ _('Login') }}</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  {%endblock%}

    {% block flash_message %}
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="container">
          <div id='flash_message_container'>
            {% for category, msg in messages %}
              <div class="alert alert-{%if category == 'message'%}info{%else%}{{ category }}{%endif%}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                  {{ msg }}
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endwith %}
    {% endblock %}

    <div class="container">
    {%block body%}{%endblock%}
    </div>
 </body>
</html>